:root {
  --font-family-main: MuseoSans500;

  --font-family-main-100: MuseoSans100;
  --font-family-main-300: MuseoSans300;
  --font-family-main-500: MuseoSans500;
  --font-family-main-700: MuseoSans700;
  --font-family-main-900: MuseoSans900;

  --display-size-2xl: 4.8rem;
  --display-size-xl: 4rem;
  --display-size-lg: 3.2rem;
  --display-size-md: 2.4rem;
  --display-size-sm: 1.9rem;
  --display-size-xs: 1.2rem;

  --text-size-lg: 1.125rem;
  --text-size-md: 0.938rem;
  --text-size-sm: 12px;
}
